description "Tomcat Server"

  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn
  respawn limit 10 5

  # run as non privileged user
  # add user with this command:
  ## adduser --system --ingroup www-data --home /opt/apache-tomcat apache-tomcat
  # Ubuntu 12.04: (use 'exec sudo -u apache-tomcat' when using 10.04)
  setuid tomcat
  setgid tomcat

  # adapt paths - Replace with your Paths:
  env JAVA_HOME=/usr/lib/jvm/java-8-oracle
  env CATALINA_HOME={{ tomcat_base }}

  # adapt java options to suit your needs:
  env JAVA_OPTS="-Djava.awt.headless=true -Xms{{ engine_heap_size }} -Xmx{{ engine_heap_size }} -XX:+UseConcMarkSweepGC -XX:-OmitStackTraceInFastThrow"
  
  {% if ClientName is defined %}
  env NEW_RELIC_APP_NAME="{{ ClientName }}-{{ env }}-SCORMEngine"
  {% else %}
  env NEW_RELIC_APP_NAME="{{ env }}"
  {% endif %}

  exec $CATALINA_HOME/bin/catalina.sh run

  # cleanup temp directory after stop
  post-stop script
    rm -rf $CATALINA_HOME/temp/*
  end script