<?xml version="1.0" encoding="utf-8" ?>
<properties>
  <!--
    Settings for the database you are migrating from, your current database.
    If you do not provide a "target" database, the upgrade tool will perform
    the upgrade in-place.
  -->
  <src>
    <!--
      Copy DataPersistenceEngine and DatabaseConnectionString entries from
      your current Engine configuration.
    -->
    <entry key="DataPersistenceEngine">mysql</entry>
    <entry key="SystemConnectionString">jdbc:mysql://{{ cc_db_host }}/{{ engine_db_name }}?user={{ engine_db_username }}&amp;password={{ engine_db_password }}|org.mariadb.jdbc.Driver</entry>
    <entry key="TenantConnectionString">jdbc:mysql://{{ cc_db_host }}/{{ engine_db_name }}?user={{ engine_db_username }}&amp;password={{ engine_db_password }}|org.mariadb.jdbc.Driver</entry>
  </src>
</properties>
