CONTENT_PROXY_S3_BUCKET_NAME="{{ S3FileStorageBucket }}"
CONTENT_PROXY_CLOUDFRONT_PUBLIC_KEY_PATH="{{ cc_deploy_path }}/bin/{{ cloudfront_public_key }}"

CONTENT_PROXY_LISTEN_PORT="8090"
CONTENT_PROXY_S3_STRIP_PREFIX=""

AWS_ACCESS_KEY_ID="{{ S3FileStorageAwsId }}"
AWS_SECRET_ACCESS_KEY="{{ S3FileStorageAwsKey }}"
