<!DOCTYPE html>
<html>
<!--
Copyright 2017 Rustici Software, LLC.  All Rights Reserved.

This document sets up the pipe frame for communication with the remote LMS (domain 1) and the content relay frame
for displaying content (domain 2).  This document must be hosted on the same domain as the content to be displayed.
You only need 1 copy of this file on each domain.
-->
<head>
    <title>Rustici SCORM Driver Cross Domain</title>
    <script type="text/javascript" src="//{{ ServerName }}/sdxd/SCORMDriverXD_CS/contentAPI.js"></script>
</head>
<body></body>
</html>
