workers.tomcat_home={{ tomcat_base }}
workers.java_home={{ java_home }}
ps=/

worker.list=ajp13_worker

worker.ajp13_worker.port=8080
worker.ajp13_worker.host=localhost
worker.ajp13_worker.type=ajp13
worker.ajp13_worker.lbfactor=1
worker.ajp13_worker.connect_timeout=10000
worker.ajp13_worker.prepost_timeout=10000
worker.ajp13_worker.socket_timeout=300
worker.ajp13_worker.connection_pool_timeout=30
worker.ajp13_worker.max_packet_size=16384
worker.ajp13_worker.secret=ZpVVboYmRQuWaTeKBFXYEKdipqBTJxJHKyhXTi8QwCkepvNQXKdDtJTTYoGLGiUq
